# SPDX-FileCopyrightText: 2026 OpenCHAMI Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=The %N container
Wants=smd.service
After=smd.service
PartOf=openchami.target

[Container]
ContainerName=%N
HostName=%N
Image=ghcr.io/openchami/%N:@IMAGE_TAG@

[Service]
Restart=always
