# SPDX-FileCopyrightText: 2026 OpenCHAMI Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=The %N container
Wants=smd.service tokensmith.service
After=smd.service tokensmith.service
PartOf=openchami.target

[Container]
ContainerName=%N
HostName=%N
Image=ghcr.io/openchami/%N:@IMAGE_TAG@

# Environment Variables
EnvironmentFile=-/etc/openchami/configs/openchami.env

# Secrets
Secret=%N-bootstrap-token,type=env,target=TOKENSMITH_BOOTSTRAP_TOKEN

# Volumes
Volume=/etc/openchami/configs/%N.yaml:/etc/%N/config.yaml:ro,Z
Volume=metadata-service-data.volume:/app/data:rw,Z

# Networks for the Container to use
Network=openchami-internal.network
HttpProxy=false

# For WireGuard tunnel creation
AddCapability=cap_net_admin
AddDevice=/dev/net/tun

[Service]
ExecStartPre=/usr/sbin/tokensmith_bootstrap_token %N
Restart=always
